@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

/* Reset sencillo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

body {
  background-color: #191919;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  min-height: 92vh;
}

/* Columna izquierda */
.left {
  flex: 1;
  background: #141414;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.left h2,
.right h2 {
  padding: 20px;
  color: #ffffff;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 14px 20px;
  border: none;
  background: #b80000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  min-width: 160px;
  margin: 16px;
}

button:hover {
  background: #ff0000;
  color: #ffffff;
  border-radius: 8px;
  transform: scale(1.1);
}

/* Columna derecha */
.right {
  flex: 1;
  background: #141414;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.right h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

/* Figura base */
.box {
  width: 200px;
  height: 200px;
  background-color: #ffcc00;
  margin: 0 auto;
  border-radius: 0;
  transition: all 0.5s ease;
  margin-top: 20px;
}

hr {
  margin: 40px 0;
}

img {
  margin-top: 30px;
}

#mainLink {
  margin-top: 20px;
  display: block;

}

#mainImage.display {
  display: none;
}

@keyframes animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.texts {
  color: #ffffff;
}

.footer {
  padding: 30px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.footer p {
  margin-top: 10px;
}